# Instalacion del Connector/Python/MYSQL

In [2]:
#pip install mysql-connector-python
import mysql.connector

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        print(connection)
except Error as e:
    print(e)

# Creacion de Base de datos

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        create_db_query = "CREATE DATABASE movies_online"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

# Creacion de Tablas

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
     host="localhost",
     user="root",
     password="Rioazulq12",
     database="movies_online"
  )

create_movies_table_query= """
CREATE TABLE movies(
   id INT AUTO_INCREMENT PRIMARY KEY,
   title VARCHAR(100),
   release_year YEAR(4),
   genre VARCHAR(100),
   collection_in_mil INT
  )
"""
with connection.cursor() as cursor:
    cursor.execute(create_movies_table_query)
    connection.commit() #Ejecutar fisicamente los cambios en LA BD

In [ ]:
def conexion_bd():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Rioazulq12",
        database="movies_online"
  )
    return connection

# Insertar Registros a la Tabla

In [5]:
insert_movies_query = """
INSERT INTO movies (title,release_year,genre,collection_in_mil)
VALUES
  ("Forrest Gump",1994,"Drama",330.2)
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(insert_movies_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD