# Instalacion del Connector/Python/MYSQL

In [2]:
#pip install mysql-connector-python
import mysql.connector

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        print(connection)
except Error as e:
    print(e)

# Creacion de Base de datos

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        create_db_query = "CREATE DATABASE movies_online"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

# Creacion de Tablas

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
     host="localhost",
     user="root",
     password="Rioazulq12",
     database="movies_online"
  )

create_movies_table_query= """
CREATE TABLE movies(
   id INT AUTO_INCREMENT PRIMARY KEY,
   title VARCHAR(100),
   release_year YEAR(4),
   genre VARCHAR(100),
   collection_in_mil INT
  )
"""
with connection.cursor() as cursor:
    cursor.execute(create_movies_table_query)
    connection.commit() #Ejecutar fisicamente los cambios en LA BD

In [ ]:
def conexion_bd():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Rioazulq12",
        database="movies_online"
  )
    return connection

# Insertar Registros a la Tabla

In [6]:
insert_movies_query = """
INSERT INTO movies (title,release_year,genre,collection_in_mil)
VALUES
  ("3 Idiots", 2009, "Drama", 2.4),
    ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
    ("Good Will Hunting", 1997, "Drama", 138.1),
    ("Skyfall", 2012, "Action", 304.6),
    ("Gladiator", 2000, "Action", 188.7),
    ("Black", 2005, "Drama", 3.0),
    ("Titanic", 1997, "Romance", 659.2),
    ("The Shawshank Redemption", 1994, "Drama",28.4),
    ("Udaan", 2010, "Drama", 1.5),
    ("Home Alone", 1990, "Comedy", 286.9),
    ("Casablanca", 1942, "Romance", 1.0),
    ("Avengers: Endgame", 2019, "Action", 858.8),
    ("Night of the Living Dead", 1968, "Horror", 2.5),
    ("The Godfather", 1972, "Crime", 135.6),
    ("Haider", 2014, "Action", 4.2),
    ("Inception", 2010, "Adventure", 293.7),
    ("Evil", 2003, "Horror", 1.3),
    ("Toy Story 4", 2019, "Animation", 434.9),
    ("Air Force One", 1997, "Drama", 138.1),
    ("The Dark Knight", 2008, "Action",535.4),
    ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
    ("The Lion King", 1994, "Animation", 423.6),
    ("Pulp Fiction", 1994, "Crime", 108.8),
    ("Kai Po Che", 2013, "Sport", 6.0),
    ("Beasts of No Nation", 2015, "War", 1.4),
    ("Andadhun", 2018, "Thriller", 2.9),
    ("The Silence of the Lambs", 1991, "Crime", 68.2),
    ("Deadpool", 2016, "Action", 363.6),
    ("Drishyam", 2015, "Mystery", 3.0)
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(insert_movies_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [7]:
create_reviewers_tabla_query ="""
CREATE TABLE reviewers (
   id INT AUTO_INCREMENT PRIMARY KEY,
   first_name VARCHAR(100),
   last_name VARCHAR(100)
)
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(create_reviewers_tabla_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [8]:
insert_reviewers_query="""
INSERT INTO reviewers
(first_name,last_name)
VALUES(%s,%s)
"""

reviewers_records = [
    ("Chaitanya", "Baweja"),
    ("Mary", "Cooper"),
    ("John", "Wayne"),
    ("Thomas", "Stoneman"),
    ("Penny", "Hofstadter"),
    ("Mitchell", "Marsh"),
    ("Wyatt", "Skaggs"),
    ("Andre", "Veiga"),
    ("Sheldon", "Cooper"),
    ("Kimbra", "Masters"),
    ("Kat", "Dennings"),
    ("Bruce", "Wayne"),
    ("Domingo", "Cortes"),
    ("Rajesh", "Koothrappali"),
    ("Ben", "Glocker"),
    ("Mahinder", "Dhoni"),
    ("Akbar", "Khan"),
    ("Howard", "Wolowitz"),
    ("Pinkie", "Petit"),
    ("Gurkaran", "Singh"),
    ("Amy", "Farah Fowler"),
    ("Marlon", "Crafford"),
]

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.executemany(insert_reviewers_query,reviewers_records)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [9]:
create_ratings_table_query="""
CREATE TABLE ratings (
   movie_id  INT,
   reviewer_id INT,
   rating DECIMAL(2,1),
   FOREIGN KEY(movie_id) REFERENCES movies(id),
   FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
   PRIMARY KEY(movie_id,reviewer_id)
)

"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(create_ratings_table_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [ ]:
insert_ratings_query ="""
INSERT INTO ratings
(rating,movie)

"""