# Instalacion del Connector/Python/MYSQL

In [2]:
#pip install mysql-connector-python
import mysql.connector

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        print(connection)
except Error as e:
    print(e)

# Creacion de Base de datos

<img src="E_R.png" />

In [ ]:
from mysql.connector import connect,Error
try:
    with connect(
        host="localhost",
        user="root",
        password="Rioazulq12"
    )as connection:
        create_db_query = "CREATE DATABASE movies_online"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

# Creacion de Tablas

In [ ]:
import mysql.connector
connection = mysql.connector.connect(
     host="localhost",
     user="root",
     password="Rioazulq12",
     database="movies_online"
  )

create_movies_table_query= """
CREATE TABLE movies(
   id INT AUTO_INCREMENT PRIMARY KEY,
   title VARCHAR(100),
   release_year YEAR(4),
   genre VARCHAR(100),
   collection_in_mil INT
  )
"""
with connection.cursor() as cursor:
    cursor.execute(create_movies_table_query)
    connection.commit() #Ejecutar fisicamente los cambios en LA BD

In [ ]:
def conexion_bd():
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Rioazulq12",
        database="movies_online"
  )
    return connection

# Insertar Registros a la Tabla

In [6]:
insert_movies_query = """
INSERT INTO movies (title,release_year,genre,collection_in_mil)
VALUES
  ("3 Idiots", 2009, "Drama", 2.4),
    ("Eternal Sunshine of the Spotless Mind", 2004, "Drama", 34.5),
    ("Good Will Hunting", 1997, "Drama", 138.1),
    ("Skyfall", 2012, "Action", 304.6),
    ("Gladiator", 2000, "Action", 188.7),
    ("Black", 2005, "Drama", 3.0),
    ("Titanic", 1997, "Romance", 659.2),
    ("The Shawshank Redemption", 1994, "Drama",28.4),
    ("Udaan", 2010, "Drama", 1.5),
    ("Home Alone", 1990, "Comedy", 286.9),
    ("Casablanca", 1942, "Romance", 1.0),
    ("Avengers: Endgame", 2019, "Action", 858.8),
    ("Night of the Living Dead", 1968, "Horror", 2.5),
    ("The Godfather", 1972, "Crime", 135.6),
    ("Haider", 2014, "Action", 4.2),
    ("Inception", 2010, "Adventure", 293.7),
    ("Evil", 2003, "Horror", 1.3),
    ("Toy Story 4", 2019, "Animation", 434.9),
    ("Air Force One", 1997, "Drama", 138.1),
    ("The Dark Knight", 2008, "Action",535.4),
    ("Bhaag Milkha Bhaag", 2013, "Sport", 4.1),
    ("The Lion King", 1994, "Animation", 423.6),
    ("Pulp Fiction", 1994, "Crime", 108.8),
    ("Kai Po Che", 2013, "Sport", 6.0),
    ("Beasts of No Nation", 2015, "War", 1.4),
    ("Andadhun", 2018, "Thriller", 2.9),
    ("The Silence of the Lambs", 1991, "Crime", 68.2),
    ("Deadpool", 2016, "Action", 363.6),
    ("Drishyam", 2015, "Mystery", 3.0)
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(insert_movies_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [7]:
create_reviewers_tabla_query ="""
CREATE TABLE reviewers (
   id INT AUTO_INCREMENT PRIMARY KEY,
   first_name VARCHAR(100),
   last_name VARCHAR(100)
)
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(create_reviewers_tabla_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [8]:
insert_reviewers_query="""
INSERT INTO reviewers
(first_name,last_name)
VALUES(%s,%s)
"""

reviewers_records = [
    ("Chaitanya", "Baweja"),
    ("Mary", "Cooper"),
    ("John", "Wayne"),
    ("Thomas", "Stoneman"),
    ("Penny", "Hofstadter"),
    ("Mitchell", "Marsh"),
    ("Wyatt", "Skaggs"),
    ("Andre", "Veiga"),
    ("Sheldon", "Cooper"),
    ("Kimbra", "Masters"),
    ("Kat", "Dennings"),
    ("Bruce", "Wayne"),
    ("Domingo", "Cortes"),
    ("Rajesh", "Koothrappali"),
    ("Ben", "Glocker"),
    ("Mahinder", "Dhoni"),
    ("Akbar", "Khan"),
    ("Howard", "Wolowitz"),
    ("Pinkie", "Petit"),
    ("Gurkaran", "Singh"),
    ("Amy", "Farah Fowler"),
    ("Marlon", "Crafford"),
]

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.executemany(insert_reviewers_query,reviewers_records)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [9]:
create_ratings_table_query="""
CREATE TABLE ratings (
   movie_id  INT,
   reviewer_id INT,
   rating DECIMAL(2,1),
   FOREIGN KEY(movie_id) REFERENCES movies(id),
   FOREIGN KEY(reviewer_id) REFERENCES reviewers(id),
   PRIMARY KEY(movie_id,reviewer_id)
)

"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(create_ratings_table_query)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

In [10]:
insert_ratings_query ="""
INSERT INTO ratings
(rating,movie_id,reviewer_id)
VALUES(%s , %s ,%s)
"""
ratings_records = [
    (6.4, 17, 5), (5.6, 19, 1), (6.3, 22, 14), (5.1, 21, 17),
    (5.0, 5, 5), (6.5, 21, 5), (8.5, 30, 13), (9.7, 6, 4),
    (8.5, 24, 12), (9.9, 14, 9), (8.7, 26, 14), (9.9, 6, 10),
    (5.1, 30, 6), (5.4, 18, 16), (6.2, 6, 20), (7.3, 21, 19),
    (8.1, 17, 18), (5.0, 7, 2), (9.8, 23, 3), (8.0, 22, 9),
    (8.5, 11, 13), (5.0, 5, 11), (5.7, 8, 2), (7.6, 25, 19),
    (5.2, 18, 15), (9.7, 13, 3), (5.8, 18, 8), (5.8, 30, 15),
    (8.4, 21, 18), (6.2, 23, 16), (7.0, 10, 18), (9.5, 30, 20),
    (8.9, 3, 19), (6.4, 12, 2), (7.8, 12, 22), (9.9, 15, 13),
    (7.5, 20, 17), (9.0, 25, 6), (8.5, 23, 2), (5.3, 30, 17),
    (6.4, 5, 10), (8.1, 5, 21), (5.7, 22, 1), (6.3, 28, 4),
    (9.8, 13, 1)
]


#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.executemany(insert_ratings_query,ratings_records)
    obj_conexion.commit() #Ejecutar fisicamente los cambios en LA BD

# Estructura de la Tabla

In [14]:
#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

show_table_query="describe movies"

with obj_conexion.cursor() as cursor:
    cursor.execute(show_table_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('title', 'varchar(100)', 'YES', '', None, '')
('release_year', 'year', 'YES', '', None, '')
('genre', 'varchar(100)', 'YES', '', None, '')
('collection_in_mil', 'int', 'YES', '', None, '')

# Instrucciones SQL

In [17]:
#Mostrar Los primeros 15 registros
select_movies_query="SELECT * FROM movies LIMIT 15"

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(select_movies_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

(1, 'Forrest Gump', 1994, 'Drama', 330)
(2, '3 Idiots', 2009, 'Drama', 2)
(3, 'Eternal Sunshine of the Spotless Mind', 2004, 'Drama', 35)
(4, 'Good Will Hunting', 1997, 'Drama', 138)
(5, 'Skyfall', 2012, 'Action', 305)
(6, 'Gladiator', 2000, 'Action', 189)
(7, 'Black', 2005, 'Drama', 3)
(8, 'Titanic', 1997, 'Romance', 659)
(9, 'The Shawshank Redemption', 1994, 'Drama', 28)
(10, 'Udaan', 2010, 'Drama', 2)
(11, 'Home Alone', 1990, 'Comedy', 287)
(12, 'Casablanca', 1942, 'Romance', 1)
(13, 'Avengers: Endgame', 2019, 'Action', 859)
(14, 'Night of the Living Dead', 1968, 'Horror', 3)
(15, 'The Godfather', 1972, 'Crime', 136)

In [20]:
#Seleccionar Algunos campos
select_movies_query="SELECT title,release_year FROM movies LIMIT 15"

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(select_movies_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

('Forrest Gump', 1994)
('3 Idiots', 2009)
('Eternal Sunshine of the Spotless Mind', 2004)
('Good Will Hunting', 1997)
('Skyfall', 2012)
('Gladiator', 2000)
('Black', 2005)
('Titanic', 1997)
('The Shawshank Redemption', 1994)
('Udaan', 2010)
('Home Alone', 1990)
('Casablanca', 1942)
('Avengers: Endgame', 2019)
('Night of the Living Dead', 1968)
('The Godfather', 1972)

In [23]:
#Utilizando Filtros WHERE Ordenando los resultados
select_movies_query="""
        SELECT title,collection_in_mil 
        FROM movies 
        WHERE collection_in_mil >100
        ORDER BY collection_in_mil DESC
        """

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(select_movies_query)
    result = cursor.fetchall()
    for row in result:
        print(row)

('Avengers: Endgame', 859)
('Titanic', 659)
('The Dark Knight', 535)
('Toy Story 4', 435)
('The Lion King', 424)
('Deadpool', 364)
('Forrest Gump', 330)
('Skyfall', 305)
('Inception', 294)
('Home Alone', 287)
('Gladiator', 189)
('Good Will Hunting', 138)
('Air Force One', 138)
('The Godfather', 136)
('Pulp Fiction', 109)

In [25]:
select_movies_avg="""
  SELECT title,avg(rating) average_rating from movies m inner join ratings r 
       on  m.id=r.movie_id
       group by movie_id
       order by average_rating desc
       LIMIT 20
"""

#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    cursor.execute(select_movies_avg)
    result = cursor.fetchall()
    for row in result:
        print(row)

('Night of the Living Dead', Decimal('9.90000'))
('The Godfather', Decimal('9.90000'))
('Avengers: Endgame', Decimal('9.75000'))
('Eternal Sunshine of the Spotless Mind', Decimal('8.90000'))
('Beasts of No Nation', Decimal('8.70000'))
('Gladiator', Decimal('8.60000'))
('Home Alone', Decimal('8.50000'))
('Pulp Fiction', Decimal('8.50000'))
('Kai Po Che', Decimal('8.30000'))
('The Lion King', Decimal('8.16667'))
('Air Force One', Decimal('7.50000'))
('Inception', Decimal('7.25000'))
('Casablanca', Decimal('7.10000'))
('Udaan', Decimal('7.00000'))
('Drishyam', Decimal('6.84000'))
('The Dark Knight', Decimal('6.82500'))
('Bhaag Milkha Bhaag', Decimal('6.66667'))
('The Silence of the Lambs', Decimal('6.30000'))
('Skyfall', Decimal('6.12500'))
('Titanic', Decimal('5.70000'))

In [37]:
movie_id = input("Ingrese el ID de la Pelicula")
reviewer_id = input("Ingrese el ID del reviewer")

select_movies_avg="""
SELECT title,r.reviewer_id,avg(rating) average_rating 
       from movies m inner join ratings r 
       on  m.id=r.movie_id
       where m.id=%s and r.reviewer_id=%s
       group by movie_id
"""

val_tuple=(
    movie_id,
    reviewer_id,
)
#Creando un Objeto de Conexion
obj_conexion=conexion_bd()

with obj_conexion.cursor() as cursor:
    existe=False
    for result in cursor.execute(select_movies_avg,val_tuple,multi=True):
        if result.with_rows:
            existe=True
            print(result.fetchall())
            break
    if existe==False:
        print("Nada que Mostra")

Ingrese el ID de la Pelicula14
Ingrese el ID del reviewer9
[('Night of the Living Dead', 9, Decimal('9.90000'))]

# Base datos & DataFrame

In [38]:
import pandas as pd
import sqlite3

In [41]:
c=conn.cursor()
c.execute('CREATE TABLE IF NOT EXISTS products (product_name text,price number)')
conn.commit()

In [47]:
conn = sqlite3.connect('bdlocal_mayo_2023')
c.execute('CREATE TABLE IF NOT EXISTS products (product_name text,price number)')
conn.commit()

data = {'product_name': ['Computer','Tablet','Monitor','Printer'],
        'price': [900,300,450,150]
        }
#Preparndo el DataFrame o la Estructura del DataFrame para imporar los datos de SQL
df = pd.DataFrame(data,columns=['product_name','price'])
df.to_sql('products',conn,if_exists='replace',index=False)
c.execute('''
SELECT * FROM PRODUCTS
''')
#Importando la informacio
df = pd.DataFrame(c.fetchall(),columns=['product_name','price'])

In [48]:
df.

  product_name  price
0     Computer    900
1       Tablet    300
2      Monitor    450
3      Printer    150